<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">



<div class="text-center">
<% @posts.each do | x | %>
<%= x.title %><br>
<%= x.date %><br><br>
<%= x.text %>
<hr style="width: 200px; border-color: darkgray;">
<% end %>

</div>