<h1>Julian's Awesome T-Shirt Store</h1>

<p>Some T-Shirts are:</p>

<ul>
	<% @shirts.each_with_index do |tshirt, i| %>
	<li>
		<a href="/tshirts/<%= i + 1 %>">
			<%= tshirt %>
		</a>
	</li>
	<% end %>
</ul>

<h2>Your Cart</h2>
<p>You have <%= @number_of_items %> items</p>

<a href="/checkout">
	Checkout
</a>