<%= @contact.name %><br>
<%= @contact.address %><br>
<%= @contact.phonenumber %><br>
<%= @contact.email %>

<form action="/:shortlink" method="GET">
<button type="submit">Short URL Thing</button>
</form>