<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">



<div class="text-center">
<h1>Please Log In</h1>

<form action="/logged_in" method="POST">

	<label for="username">Username:</label><br>
		<input name="username" autocomplete="off"><br><br>
	<label for="password">Password:</label><br>
		<input type="password" name="password"><br><br>
		<hr>
	<button name="logged_in" value="login" type="submit" class="btn btn-info">Log In</button>


</form>

</div>