<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<div class="text-center">
	<h1>IMDB Search</h1>

	<form action="/imdb_search" method="POST">
		<label for="title">Title</label>
			<input type="text" name="title">
				<br><br>
					<button type="submit">
						Search!
					</button>

	</form>
</div>